.container {
  .all-categories {
    display: flex !important;
    justify-content: center !important;
    margin-top: 4rem !important;
    @media (min-width: 320px) and (max-width: 550px) {
      margin-top: 8rem !important;
    }

    &-button {
      display: contents;
      button {
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        background: transparent;

        &:hover {
          background: #3755a0;
          border-color: #3755a0;
          color: #f2f2f2;
          cursor: pointer;
        }
      }
    }
  }
}
