.container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  max-width: 1200px !important;
  margin-block: 2rem !important;
  gap: 2rem !important;

  .row {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
