.select-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
  font-weight: bold;
  color: #666;

  &-label {
    margin-right: 0.5rem;
  }

  &-multiple {
    &-select {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 16px;
      padding: 6px;
      border-radius: 8px;
      &:focus-visible {
        outline: transparent;
      }
    }
  }
}
